/* @link https://utopia.fyi/type/calculator?c=320,12,1.125,1280,18,1.125,2,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --fs-1: clamp(0.6667rem, 0.5556rem + 0.5556vw, 1rem);
    --fs0: clamp(0.75rem, 0.625rem + 0.625vw, 1.125rem);
    --fs1: clamp(0.8438rem, 0.7031rem + 0.7031vw, 1.2656rem);
    --fs2: clamp(0.9492rem, 0.791rem + 0.791vw, 1.4238rem);
}

/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    margin-bottom: 0;
    background: #f7f9ff; /* Surface */
}

img { 
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 90%;
    margin: 0;
    padding: 0.25em 5%;
    background: #2d3135; /* Surface inverse */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2); /* shorthand top, right, bottom, left */
    background: #2d3135; /* Surface inverse */
    z-index: -1;
}

.pano {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex: initial;
    position: relative;
}

.pano-title {
    margin: 0;
    padding: 0.75em;
    border: 1px solid #eef1f6; /* Inverse on surface */
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

figure.logo {
    width: 2.2em;
    margin-right: 1em;
}

figure.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

form {
    width: 90%;
    margin: 0;
    padding: 1em 5%; /* longhand 0.5em 5% 1em 5% */
    background: #d4e4f6; /* Secondary container */
    border-bottom: 1px solid #bfc7d2; /* Secondary 80 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    position: relative;
}

form::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2) -1px; /* shorthand top, right, bottom, left */
    background: #d4e4f6; /* Secondary container */
    border-bottom: 1px solid #bfc7d2; /* Secondary 80 */
    z-index: -1;
}

input {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.5;
    border-radius: 6px;
    border: 1px solid #575f68; /* Secondary 40 */
}

@media (min-width: 300px) and (max-width: 699px) {
    input {
        width: 95%;
        margin: 0.75em 0;
        padding: 0 2.5%;
    }
}

@media (min-width: 700px) {
    input {
        width: 45%;
        margin: 0.75em 2.5% 0.75em 0;
        padding: 0 2.5%;
    }
}

input::placeholder {
    color: #42474e; /* On surface variant */
}

button {
    width: 4em;
    margin-right: 2.5%;
    padding: 0;
    border-radius: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.8;
}

button:hover {
    cursor: pointer;
}

.btn-go {
    background: #2c638b; /* Primary */
    border: none;
    color: #fff; /* On primary */
}

.btn-go:hover {
    background: #1d4a6b; /* Primary 30 */
}

.btn-clear {
    background: none;
    border: 1px solid #394857; /* On secondary container */
    color: #394857; /* On secondary container */
}

.btn-clear:hover {
    background: #dbe3ee; /* Secondary 90 */
}

.overview-boxes {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    display: flex;
    flex-flow: row wrap;
}

.overview-about {
    padding: 1em 5%;
    background: #f1f4f9; /* Surface container low */
    border: 1px solid #ebeef3; /* Surface container */
    border-radius: 12px;
    flex: initial;
}

.overview-alert {
    padding: 1em 5%;
    background: #f1f4f9; /* Surface container low */
    border: 1px solid #ebeef3; /* Surface container */
    border-radius: 12px;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 799px) {
    .overview-boxes {
        justify-content: flex-start; /* main axis */
        align-items: flex-start; /* cross axis */
    }

    .overview-about {
        width: 90%;
        margin: 2em 0;
        margin: 0 0 2em;
    }

    .overview-alert {
        width: 90%;
        margin: 0 0 2em; /* longhand 0 0 2em 0 */
    }
}

@media (min-width: 800px) {
    .overview-boxes {
        justify-content: space-between; /* main axis */
        align-items: stretch; /* cross axis */
    }

    .overview-about {
        width: 35%;
        margin: 2em 0;
        margin: 0 0 2em;
    }

    .overview-alert {
        width: 40%;
        margin: 2em 0;
        margin: 0 0 2em;
    }
}

.overview-alert-type {
    width: 100%;
    margin-bottom: 1em;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

.overview-badge {
    padding: 0;
    border-radius: 6px;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 399px) {
    .overview-badge {
        width: 80%;
        margin: 0 10% 1em; /* longhand is 0 10% 1em 10% */
    }

    .overview-badge:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .overview-badge {
        width: 70%;
        margin: 0 15% 1em; /* longhand is 0 15% 1em 15% */
    }

    .overview-badge:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .overview-badge {
        width: 60%;
        margin: 0 20% 1em; /* longhand is 0 20% 1em 20% */
    }

    .overview-badge:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .overview-badge {
        width: 40%;
        margin: 0 0 1em; /* longhand is 0 0 1em 0 */
    }

    /* last two badges */
    .overview-badge:nth-last-child(-n + 2) {
        margin: 0;
    }
}

@media (min-width: 800px) {
    .overview-badge {
        width: 45%;
        margin: 0 0 1em; /* longhand is 0 0 1em 0 */
    }

    /* last two badges */
    .overview-badge:nth-last-child(-n + 2) {
        margin: 0;
    }
}

.lookup {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.lookup-title {
    width: 100%;
    margin: 0;
    padding-top: 1em;
    text-align: center;
    flex: initial;
    position: relative;
}

.lookup-title::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2) -1px; /* shorthand top, right, bottom, left */
    border-top: 1px solid #d7dadf; /* Surface dim */
    z-index: -1;
}

.lookup-nav {
    width: 100%;
    margin: 0;
    padding: 0.25em 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
}

/* Span class for list of letters, A, B, C, etc. */
.letter {
    padding: 0 0.5em;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.5;
    color: #171d1b; /* N-10 */
}

.letter:hover {
    cursor: pointer;
    background: #e3e2e4; /* Neutral 90 */
}

/* Used for selected letters like A, B, C, etc. */
.selected1 {
    background: #e3e2e4; /* Neutral 90 */
}

.lookup-results {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.paginate-container {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; /* main axis */
    align-items: flex-start; /* cross axis */
}

section {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
}

.results-notice {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
}

dl {
    margin: 0;
    padding: 0 0 1em;
}

dd {
    margin: 0 0 1em; /* longhand 0 0 1em 0 */
    padding: 0;
    font-family: Roboto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.5;
    color: #2c638b; /* Primary */
    text-align: center;
}

dd:hover {
    cursor: pointer;
    background: #e7f2ff;  /* Primary 95 */
}

/* Used for selected park buttons like "Acadia National Park" */
.selected2 {
    background: #e7f2ff;  /* Primary 95 */
}

aside {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
}

.list-of-alerts {
    margin: 0 0 1em; /* longhand is 0 0 1em 0 */
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

@media (min-width: 300px) and (max-width: 399px) {
    .list-of-alerts {
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .list-of-alerts {
        width: 95%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .list-of-alerts {
        width: 90%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .list-of-alerts {
        width: 85%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .list-of-alerts {
        width: 80%;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .list-of-alerts {
        width: 75%;
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    .list-of-alerts {
        width: 70%;
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .list-of-alerts {
        width: 65%;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .list-of-alerts {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .list-of-alerts {
        width: 55%;
    }
}

.alert {
    width: 90%;
    margin: 1em 0;
    padding: 1em 5%;
    background: #f1f4f9; /* Surface container low */
    border-radius: 12px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.alert-type {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.badge {
    margin: 0;
    padding: 0;
    border-radius: 6px;
    text-align: center;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    .badge {
        width: 50%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .badge {
        width: 45%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .badge {
        width: 40%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .badge {
        width: 35%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .badge {
        width: 30%;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .badge {
        width: 35%;
    }
}

@media (min-width: 900px) and (max-width: 1199px)  {
    .badge {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .badge {
        width: 25%;
    }
}

/* Background colors for badges, with h3 font */
.closure {
    background: #d3c972; /* green */
    color: #363100; /* dark green */
}

.info {
    background: #8ecff2; /* blue */
    color: #003548; /* dark blue */
}

.caution {
    background: #ffb689; /* orange */
    color: #512300; /* dark orange */
}

.danger {
    background: #ffb4ac; /* red */
    color: #561e1a; /* dark red */
}

.general {
    background: #dee4e0; /* N-90 */
    color: #171d1b; /* N-10 */
}

.alert-text {
    width: 100%;
    margin: 0%;
    padding: 0;
    flex: initial;
}

/* FOOTER CURRENTLY REMOVED */
footer {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #2d3135; /* Inverse surface */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2); /* shorthand top, right, bottom, left */
    background: #2d3135; /* Inverse surface */
    z-index: -1;
}

/* Font styles and their media queries */
h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs1);
    line-height: 1.5;
    color: #eef1f6; /* Inverse on surface */
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs2);
    line-height: 1;
    color: #eef1f6; /* Inverse on surface */
    margin-top:  0;
    margin-bottom: 0;
}

/* Types of alerts -> Info, Park Closure, etc. */
h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs-1);
    line-height: 1.3;
    text-transform: uppercase;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

/* Titles in alert boxes */
h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs-1);
    line-height: 1.5;
    color: #181c20; /* On surface */
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.8;
    color: #181c20; /* On surface */
}

.white-txt {
    color: #eef1f6; /* Inverse on surface */
}

.error-msg {
    color: #ba1a1a; /* E-40 */
}

.paginate {
    line-height: 1.2;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

.emphasis {
    font-weight: 600;
}

label {
    margin-right: 2.5%;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--fs0);
    line-height: 1.2;
    color: #394857; /* On secondary container */
}

ul {
    width: 90%;
    margin: 1em 0;
    padding: 0 5%;
}

/* Keeps pagination prev & next steady as user flips pages */
@media (min-width: 300px) and (max-width: 399px) {
    ul {
        min-height: 325px;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    ul {
        min-height: 276px;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    ul {
        min-height: 252px;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    ul {
        min-height: 240px;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    ul {
        min-height: 210px;
    }
}

@media (min-width: 800px) {
    ul {
        min-height: 180px;
    }
}

li {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-0);
    line-height: 1.8;
    color: #181c20; /* On surface */

}

/* Copy to clipboard elements */
.copy-icon {
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-flex;
}

.copy-icon:hover {
    cursor: pointer;
    background: #e3e2e4; /* Neutral 90 */
}

.copied {
    display: none;
    color: #42474e; /* On surface variant */
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fades {
    animation: fade-in-out 1s ease-out;
}
