/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    background: #fffbff;
}

img { 
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 90%;
    margin: 0;
    padding: 0.25em 5%;
    background: #000;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
    width: 2000px;
    left: 100%;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
    width: 2000px;
    right: 100%;
}

.pano {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex: initial;
    position: relative;
}

.pano-title {
    margin: 0;
    padding: 0 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2.5;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 0.75em;
    background: rgba(0 0 0 / 60%);
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;

}

figure.logo {
    width: 2.2em;
    margin-right: 1em;
}

figure.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: #000; /* needed to fill small gap above form */
}

form {
    width: 90%;
    margin: 0;
    padding: 0.5em 5% 1em; /* Longhand 0.5em 5% 1em 5% */
    background: #000;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

@media (min-width: 300px) and (max-width: 699px) {
    form {
        justify-content: flex-start; /* main axis */
        align-items: flex-start; /* cross axis */
    }
}

@media (min-width: 700px) {
    form {
        justify-content: flex-start; /* main axis */
        align-items: center; /* cross axis */
    }
}

form::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
    width: 2000px;
    left: 100%;
}

form::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
    width: 2000px;
    right: 100%;
}

input {
    padding: 0.5em 1.5em;
}

@media (min-width: 300px) and (max-width: 399px) {
    input {
        width: calc(100% - 3em);
        margin: 0;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    input {
        width: calc(90% - 3em);
        margin: 0;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    input {
        width: calc(80% - 3em);
        margin: 0;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    input {
        width: calc(70% - 3em);
        margin-right: 10%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    input {
        width: calc(60% - 3em);
        margin-right: 20%;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    input {
       width: calc(55% - 3em);
       margin: 0;
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    input {
       width: calc(45% - 3em);
       margin: 0;
    }
}

@media (min-width: 1000px) {
    input {
       width: calc(35% - 3em);
       margin: 0;
    }
}

input::placeholder {
    color: #212121;
}

button {
    width: 120px;
    padding: 0;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 500;
}

@media (min-width: 300px) and (max-width: 799px) {
    button {
        margin: 1em 1em 0 0;
    }
}

@media (min-width: 800px) {
    button {
        margin: 0 0 0 1em;
    }
}

.btn-go {
    border: 1px solid #9cd76e;
    background: #9cd76e;
    color: #000;
}

.btn-clear {
    border: 1px solid #fff;
    background: #000;
    color: #fff;
}

section {
    margin: 0;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 799px) {
    section {
        width: 90%;
        padding: 1em 5% 0; /* Longhand 1em 5% 0 5% */
    }
}

@media (min-width: 800px) {
    section {
        width: 35%;
        padding: 1em 0 1em 5%;
    }
}

#overview-about {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

aside {
    width: 50%;
    margin: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

@media (min-width: 300px) and (max-width: 799px) {
    aside {
        width: 90%;
        padding: 0 5%;
    }
}

@media (min-width: 800px) {
    aside {
        width: 50%;
        padding: 1em 5%;
    }
}

.list {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.results-notice {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.alert {
    width: 90%;
    margin: 1em 0;
    padding: 1em 5%;
    background: #ede0eb; /* neutral 90 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.alert-type {
    width: 100%;
    margin: 0%;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.badge {
    /* width: 25%; */
    margin: 0;
    padding: 0;
    text-align: center;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    .badge {
        width: 50%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .badge {
        width: 45%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .badge {
        width: 40%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .badge {
        width: 35%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .badge {
        width: 30%;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .badge {
        width: 35%;
    }
}

@media (min-width: 900px) and (max-width: 1199px)  {
    .badge {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .badge {
        width: 25%;
    }
}

.badge-big {
    /* width: 35%; */
    margin: 1em 0 0; /* longhand 1em 0 0 0 */
    padding: 0;
    text-align: center;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    .badge-big {
        width: 60%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .badge-big {
        width: 55%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .badge-big {
        width: 50%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .badge-big {
        width: 45%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .badge-big {
        width: 40%;
    }
}

@media (min-width: 800px) {
    .badge-big {
        width: 35%;
    }
}

.closure {
    background: #baad37;
}

.info {
    background: #76d1ff;
}

.caution {
    background: #ff8d3b;
}

.danger {
    background: #ff897f;
}

.general {
    background: #d7c2b9;
}

.alert-text {
    width: 100%;
    margin: 0%;
    padding: 0;
    flex: initial;
}

/* Font styles and their media queries */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #201a18;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #201a18;
}

h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #201a18;
}

.error-msg {
    color: #ba1a1a;
}

label {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 500;
    color: #fff;
}

dl {
    width: 100%;
    margin: 1em 0;
    padding: 0;
}

dd {
    margin: 0 0 1em; /* Longhand 0 0 1em 0 */
    padding: 0.5em 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #281900;
    background: #ede0eb; /* neutral 90 */
    text-align: center;
}

dd:hover {
    cursor: pointer;
    background: #d0c4bf; /* neutral 80 */
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    p, label, input::placeholder, input[type="text"], dd, button {
        font-size: 0.875em; /* 14px */
    }

    h1 {
        font-size: 1.125em; /* 18 px */
    }

    h2, h3, .pano-title {
        font-size: 1em; /* 16px */
    }

    h4 {
        font-size: 0.875em; /* 14px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    p, label, input::placeholder, input[type="text"], dd, button {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.1875em; /* 19px */
    }

    h2, h3, .pano-title {
        font-size: 1.0625em; /* 17px */
    }

    h4 {
        font-size: 0.9375em; /* 15px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    p, label, input::placeholder, input[type="text"], dd, button {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2, h3, .pano-title {
        font-size: 1.125em; /* 18 px */
    }

    h4 {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 600px) {
    p, label, input::placeholder, input[type="text"], dd, button {
        font-size: 1.0625em; /* 17px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2, h3, .pano-title {
        font-size: 1.1875em; /* 19px */
    }

    h4 {
        font-size: 0.875em; /* 14px */
    }
}